# Compiled class files
*.class

# Log files
*.log

# Directories
/target/
/out/
/bin/

# Eclipse specific
.classpath
.project
.settings/

# IntelliJ specific
*.iml
*.ipr
*.iws
.idea/

# Temporary files created by operating systems
*.swp
*~
.DS_Store
Thumbs.db

# Maven (if you're using Maven)
target/

# TestNG report outputs
test-output/

# Selenium captured screen shots (if applicable)
screenshot-*.png

# Other common files/directories to ignore
*.bak
*.cache
*.tmp
*.swp
*~
backup*
